<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Useful Quotes</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        </div>
      </div>
    </nav>
	<header></header>
	<div class="container-fluid">

	<div class="row" style="height: 100vh;">
		<main class="col-md-9 main" style="padding-top: 75px;">

		<%= link_to '<< Go Back', quotes_path %>
		<h1>New Post</h1>
		
		<%= form_for(@quote) do |f| %>
    <%= f.label :txt, 'Quote Text:'%><br />
    <%= f.text_area :txt %><br />
   	 <%= f.label :character, 'Who said that?' %><br />
    <%= f.text_field :character %><br />
		<%= f.label :movie, 'In Which movie?' %><br />
    <%= f.text_field :movie %><br />
    <%= f.label :img, 'Enter image url' %><br />
    <%= f.text_field :img %><br />
    <br />
    <%= f.submit 'Keep It!' , :class =>'btn bnt-primary' %>
  	

<% end %>

		
			

		</main>
	</div>

</div>
