<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Useful Quotes</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        </div>
      </div>
    </nav>
	<header></header>
	<div class="container-fluid">

	<div class="row" style="height: 100vh;">
		<main class="col-md-9 main" style="padding-top: 75px;">
		<%= link_to '<< Go Back', quotes_path %> | <%= link_to 'Got a quote?', new_quote_path %>
		<div class="panel">
			<quote>"<%= @quote.txt %>"</quote>
			<p><%= @quote.character %> | <%= @quote.movie %></p>
		</div>
			

		</main>
	</div>

</div>
